{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "standard",
    "prettier"
  ],
  "plugins": [
    "standard",
    "node",
    "promise",
    "import",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}